In [58]:
#List of high schools
#high_schools=['Hernandez High School', 'Figueroa High School', 'Wilson High School', 'Wright High School']
#for school in high_schools:
    #print(school)

In [53]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [47]:
print(*high_school_types,sep="\n")

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [59]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [60]:
# Add the Pandas dependency
import pandas as pd

In [61]:
# Create a Panda Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [62]:
# Iterate through the school series and print out each high school
school_series = pd.Series(high_schools)
for index, value in school_series.items():
    print({value})

{'Huang High School'}
{'Figueroa High School'}
{'Shelton High School'}
{'Hernandez High School'}
{'Griffin High School'}
{'Wilson High School'}
{'Cabrera High School'}
{'Bailey High School'}
{'Holden High School'}
{'Pena High School'}
{'Wright High School'}
{'Rodriguez High School'}
{'Johnson High School'}
{'Ford High School'}
{'Thomas High School'}

In [63]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [64]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [65]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [66]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [68]:
# Add the list to a new DataFrame.
schools_df['School ID'] = school_id
schools_df['School Name'] = school_name
schools_df['Type'] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [67]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'School_Name':school_name, 'Type':type_of_school}

In [69]:
school_df = pd.DataFrame(high_schools_dict)
school_df

   School ID            School_Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [70]:
school_df.columns

Index(['School ID', 'School_Name', 'Type'], dtype='object')

In [71]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [31]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [72]:
# Create a Panda Series from a list.
school_series_df = pd.DataFrame(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object